body {
  padding: 0;
  padding: 0;
  background-color: #950740;
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  color: white;
  text-align: center;
}

.title h2 {
  color: #66fcf1;
  border-bottom: 2px solid #0b0c10;
}

.title p {
  line-height: 2vw;
}

/* input form styles */
.input-form {
  color: #66fcf1;
  background-color: #0b0c10;
  margin: auto;
  padding: 3vw;
  width: 50%;
  line-height: 3vw;
}

.input-form-details [type="text"],
[type="date"] {
  width: 300px;
  height: 30px;
  font-size: 20px;
}

.input-form-details [type="date"] {
  width: 275px;
  height: 30px;
}

.input-form button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 10%;
}

.input-form button:hover {
  cursor: pointer;
}

/* Responsive design */
@media screen and (max-width: 1200px) {
  .title p {
    line-height: 40px;
  }

  .input-form-details [type="text"],
  [type="date"] {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .input-form-details [type="text"],
  [type="date"] {
    width: 200px;
  }

  .input-form-details [type="date"] {
    width: 200px;
  }
}

@media screen and (max-width: 440px) {
  .radio-button [type="radio"] {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 410px) {
  .input-form-details [type="text"],
  [type="date"] {
    width: 150px;
  }

  .input-form-details [type="date"] {
    width: 150px;
  }
}
